body{
    background-color: white; 
}

table {
    margin: auto; 
}

h1 {
    text-align: center; 
    margin-top: 0px; 
    padding-top: 0px; 
}

table td {
    padding: 10px 10px 10px 10px; 
}
.btnDeleted {background-color: red;}/*example of changing button color of entry based on status, this class is referenced in JournalEntryService*/

#tableTitle{
    font-weight: bold; 
}

#journalsDisplay{
    margin-left: auto; 
    margin-right: auto;
    float: left;  
}

#btn1{
    padding: 5px 5px 5px 5px; 
}

#journalBtn{
    padding-top: 3px; 
    padding-bottom: 3px; 
}

#journalBtn2{
    padding-top: 5px; 
    padding-bottom: 10px; 
}

#spacing{
    padding-top: 10px; 
    padding-bottom: 10px; 
}

#newJournalTitle{
    padding-top: 5px; 
    padding-bottom: 5px; 
    margin-top: 10px; 
    margin-bottom: 10px; 
}

entryTable td {
    padding: 10px 10px 10px 10px; 
}

#entriesDisplay{
    float: right; 
    width: 50%; 
    margin-right: 250px; 
    border-color: black; 
    border-width: 2px; 
    border-style: solid; 
    margin-bottom: 20px; 
}

#entrySearch{
    align-self: right;
}

searchTable{
    margin-left: 0px; 
    margin-right: 0px; 
    width: 100%; 
}

#entryStatusFilter{
    margin-top: 120px; 
}

#activeEntryCB{
    margin: 5px 5px 5px 5px; 
}

#deletedEntryCB{
    margin: 5px 5px 5px 5px; 
}

#hiddenEntryCB{
    margin: 5px 5px 5px 5px;
}

#btnFilter{
    margin: 5px 5px 5px 5px;
}

#entryBreak{
    margin: 10px 10px 10px 10px; 
}

#txtTitle{
    padding: 5px 5px 5px 5px; 
    margin-bottom: 15px; 
}

#txtSummary{
    margin-top: 5px; 
    margin-bottom: 5px; 
}

#txtDecisions{
    margin-top: 5px; 
    margin-bottom: 5px; 
}

#txtOutcomes{
    margin-top: 5px; 
    margin-bottom: 5px; 
}

#entryDate{
    margin: 10px 10px 10px 10px; 
}

